@use "../custom" as *;
@use "../components/mixins" as *;

.contact-bg {
  @include gradient;
  color: white;
}

.form-content {
  color: $primary;

  @media (max-width: 636px) {
    padding: 0rem 2rem;
  }

  @media (max-width: 370px) {
    margin-top: 1rem;
  }
}
.text-form-bg {
  background: linear-gradient(to right bottom, #e2db03, #bea00e);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.input-form-bg {
  background: linear-gradient(to right bottom, #ffffff, #dedede);
  // opacity: 0.9;
}

.contact-me-info {
  text-align: center;

  @include media-breakpoint-down(lg) {
    text-align: left;
  }
}

.form-button {
  background-image: linear-gradient(to right bottom, #e2db03, #bea00e);
  border-width: 0rem;
  color: $primary;
  font-family: 700;
  font-size: 1.2rem;

  &:hover {
    @include gradient;
    color: white;
  }
}
