@use "../custom" as *;
@use "../components/mixins" as *;

.navbar-brand {
  color: $white !important;
}

.menu {
  @include gradient;

  li {
    padding: 0 0.7rem;

    a {
      color: $white !important;
      text-transform: capitalize;
      font-weight: 600;
    }
  }
}
