@use "../custom" as *;
@use "../components/mixins" as *;

.portfolio {
  button {
    text-transform: capitalize;
  }
}

// safari has issues rendering gradient-color borders lines
// .with-linear-gradient {
//   border-top-style: solid;
//   border-width: 0.5rem;
//   border-image: linear-gradient(to right, #24243e, #302b63, #0f0c29) 1;
// }

.portfolio-heading {
  p {
    font-size: 1.3rem;
    font-weight: 500;
    color: #302b63;
  }
}

.portfolio-box {
  position: relative;
  width: 100%;
  max-height: 18.5rem;
  overflow: hidden;
  margin-bottom: 1.2rem;

  border-top-style: solid;
  border-width: 0.5rem;
  border-color: #302b63;

  img {
    width: 100%;
    // height: 100%;
  }

  .portfolio-info {
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    opacity: 0.75;
    // background-color: rgba($secondary2, 0.75);

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;

    .caption {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;

      h4 {
        text-transform: uppercase;
      }

      p {
        text-transform: capitalize;
      }
    }

    .portfolio-button {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    img {
      transform: scale(1.5);
      @include transition-property;
    }
    .portfolio-info {
      opacity: 1;
      visibility: visible;
      @include transition-property;
    }
  }
}

.portfolio-heading {
  @media (max-width: 348px) {
    p {
      margin-bottom: 2rem;
    }
  }
}

.filter-buttons-container {
  width: 45%;
  margin: 0 auto;

  @media (max-width: 1199px) {
    width: 40%;
  }

  @media (max-width: 991px) {
    width: 50%;
  }
  @media (max-width: 767px) {
    width: 65%;
  }
  @media (max-width: 538px) {
    width: 70%;
  }
  @media (max-width: 490px) {
    width: 80%;
  }
  @media (max-width: 433px) {
    width: 90%;
  }
  @media (max-width: 409px) {
    width: 100%;
  }
}
.filter-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 3rem;

  .frame {
    margin: 0.5rem 0rem;
  }

  #all {
    order: 4;
  }

  #hide {
    order: 5;
  }

  #apps {
    order: 2;
  }

  #websites {
    order: 1;
  }

  #components {
    order: 3;
  }
}
