@use "../custom" as *;
@use "../components/mixins" as *;

.portfolio {
  button {
    text-transform: capitalize;
  }
}

.with-linear-gradient {
  border-top-style: solid;
  border-width: 0.5rem;
  border-image: linear-gradient(to right, #24243e, #302b63, #0f0c29) 1;
}

.portfolio-box {
  position: relative;
  width: 100%;
  height: 18.5rem;
  overflow: hidden;
  margin-bottom: 1.2rem;

  img {
    width: 100%;
    height: 100%;
  }

  .portfolio-info {
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    opacity: 0.75;
    // background-color: rgba($secondary2, 0.75);

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    opacity: 0;
    visibility: hidden;

    .caption {
      @include absoluteCenter;
      text-align: center;
      color: white;

      h4 {
        text-transform: uppercase;
      }
    }
  }

  &:hover {
    .portfolio-info {
      opacity: 1;
      visibility: visible;
      @include transition-property;
    }
  }
}

.portfolio-heading {
  @media (max-width: 348px) {
    p {
      margin-bottom: 2rem;
    }
  }
}

.filter-buttons {
  margin-bottom: 5rem;

  button:not(:last-child) {
    margin-right: 1rem;
  }

  @media (max-width: 348px) {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    button:last-child {
      margin-top: 1rem;
    }
  }
}
