@use '../custom' as *;

.project-showcase-main-heading {
  display: flex;
  align-content: center;

  @include media-breakpoint-down(490px) {
    .icon {
      margin-right: 1rem;
    }
  }
}

.project-showcase {
  position: relative;

  &__content {
    padding: 0rem 1rem;

    .icon {
      font-size: 2.5rem;
      color: $primary;

      @media (max-width: 411px) {
        margin-top: 1rem;
      }
    }

    img {
      @include media-breakpoint-down(lg) {
        margin-bottom: 5rem;
      }
    }

    p {
      margin-bottom: 2rem;
    }
  }
}

.project-showcase {
  img:last-child {
    @include media-breakpoint-down(lg) {
      margin-bottom: 0rem;
    }
  }
}
