@use '../custom' as *;
@use '../components/mixins' as *;

.background-bottom--inverse {
  display: block;
  box-sizing: border-box;
  height: 100px;

  @include gradient;

  clip-path: ellipse(63% 100% at 50% 100%);
}

.testimonials {
  position: relative;
  @include gradient;

  h1,
  hr {
    color: white;
  }

  p,
  h3 {
    color: $primary;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .sub-head {
    color: white;
    margin-bottom: 3rem;
  }

  .quotes {
    color: white;
    font-size: 1.5rem;
  }

  &__card {
    background-color: rgba(white, 0.8);
    padding: 2rem 1.25rem;
    border-radius: 0.625rem;
    height: auto;
    text-align: center;

    .ratings {
      font-size: 1.5rem;
      color: $yellow;
      padding-bottom: 1rem;
    }
  }

  &__picture {
    width: 7rem;
    height: 7rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      border: 0.325rem solid rgba($secondary, 0.7);
    }
  }

  &__name {
    padding-top: 5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    h3 {
      color: white;
      text-transform: capitalize;
    }

    p {
      color: white;
      text-transform: capitalize;
    }
  }
}
