@use "../custom" as *;

// ////////////////////////////////////////////////////////////////////////////////////////
//GRADIENT MIXIN
/////////////////////////////////////////////////////////////////////////////////////////////-->

@mixin gradient {
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}
