@use "../custom" as *;

// ////////////////////////////////////////////////////////////////////////////////////////
//GRADIENT MIXIN
/////////////////////////////////////////////////////////////////////////////////////////////-->

@mixin gradient {
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

////////////////////////////////////////////////////////////////////////////////////////
//ABSOLUTE CENTER
/////////////////////////////////////////////////////////////////////////////////////////////-->

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
