@use '../custom' as *;

//?GLOBAL FONTS

body {
  font-family: "Lato", sans-serif !important;
  font-weight: 300;
}

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;

  &--intro {
    display: inline-block;
    font-weight: 700;
    color: $white;
  }

  &--description {
    font-size: 1rem;
    display: block;
    color: $white;
    margin-top: 1.2rem;
    text-transform: none;
    font-size: 1.5rem;

    @include media-breakpoint-down(sm) {
      font-size: 1rem;
      padding: 0 3rem;
    }
  }
}

.display-3 {
  &--title {
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    background-image: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 1rem;
    margin-bottom: 1rem;
    white-space: nowrap;

    @include media-breakpoint-down(md) {
      white-space: normal;
    }
  }
}

//? NAVBAR

.menu {
  li {
    a {
      font-weight: 300;
    }
  }

  button {
    font-weight: 300;
  }
}

.navbar-brand {
  //!LOGO
  font-weight: 500;
}

//? WORKED WITH - LINE

.heading-line::before {
  content: "";
  max-width: 15rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: $primary;
}

.heading-line::after {
  content: "";
  max-width: 5rem;
  padding-top: 0.5rem;
  height: 0.2rem;
  display: block;
  margin: 0 auto;
  background-color: $primary;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

// ? border-right

.border-right {
  border-right: 0.1rem solid $gray-300;
  height: 100%;
}
